.item1 { grid-area: header; }
    .item2 { grid-area: menu; }
    .item3 { grid-area: main; }
    .item4 { grid-area: right; }
    .item5 { grid-area: footer; }
    
        
    body {
      background-color: black;
    }
    
    @media screen and (min-width: 480px) {
      body {
        background-color: black;
      }
    }
    
    body {font-family: Arial, Helvetica, sans-serif; background-color: rgb(79, 117, 154);}
    form {border: 3px solid rgba(255, 255, 255, 0.4); background-color: rgba(255, 255, 255, 0.4);}
    
    
    
    button {
      background-color: lightcoral;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }
    
    button:hover {
      opacity: 0.8;
    }
    
    .cancelbtn {
      width: auto;
      padding: 10px 18px;
      background-color: #f44336;
    }
    
    .imgcontainer {
      text-align: center;
      margin: 24px 0 12px 0;
    }
    
    img.avatar {
      width: 40%;
      border-radius: 50%;
    }
    
    .container {
      padding: 16px;
    }
    
    span.psw {
      float: right;
      padding-top: 16px;
    }
    
    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
      span.psw {
         display: block;
         float: none;
      }
      .cancelbtn {
         width: 100%;
      }
    }
    
    /* nav bar code */
    
    .navbar {
      overflow: hidden;
      background-color: rgb(93, 81, 121);
    }
    
    .navbar a {
      float: left;
      font-size: 16px;
      color: whitesmoke;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    .dropdown {
      float: left;
      overflow: hidden;
    }
    
    .dropdown .dropbtn {
      font-size: 16px;  
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }
    
    .navbar a:hover, .dropdown:hover .dropbtn {
      background-color: rgb(87, 31, 78);
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      float: none;
      color: lightcoral;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    .dropdown-content a:hover {
      background-color: #ddd;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    /* end nav bar code */
    
    .btn {
      background-color: lightcoral;
      border: none;
      color: whitesmoke;
      padding: 16px 32px;
      text-align: center;
      font-size: 16px;
      margin: 4px 2px;
      opacity: 0.6;
      transition: 0.3s;
    }
    .btn:hover {opacity: 1}
    
    .grid-container {
      display: grid;
      grid-template-areas:
        'header header header header header header'
        'menu main main main right right'
        'menu footer footer footer footer footer';
      gap: 20px;
    }
    
    .grid-container > div {
      background-color: rgba(255, 255, 255, 0.4);
      text-align: center;
      padding: 20px 0;
      font-size: 20px;
        color: lightcoral;
        font-family: fantasy;
    }